
* {
    margin: 0;
    padding: 0;
}

body {
    background: #d7e8ff;
}

.header {
    width: 100%;
    height: 60px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    background-color: rgb(248, 42, 42);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    width: 300px;
    height: 60px;
    display: flex;
    box-sizing: border-box;
}

    .logo .img {
        width: 20%;
    }

        .logo .img img {
            height: 100%;
        }

    .logo .name {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .logo .name a {
            color: rgb(250, 247, 247);
            font-size: 30px;
            text-decoration: none;
        }

.menu {
    height: 60px;
    flex: 1;
    display: flex;
    justify-content: center;
}

    .menu .menu-items {
        display: flex;
        align-items: center;
        height: 60px;
        margin: 0px, 10px;
    }

        .menu .menu-items a {
            color: white;
            font-size: 15px;
            font-weight: 400;
            font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 10px;
        }

.action {
    width: 200px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}

    .action a {
        font-size: 15px;
        background: white;
        padding: 6px 15px;
        text-decoration: none;
        border-radius: 30px;
        border: none;
        color: rgb(110, 3, 3);
    }

.banner {
    width: 100%;
    height: 500px;
    border: 1px solid;
    position: relative;
    overflow-y: hidden;
}

    .banner .background {
        width: 100%;
        height: 100%;
    }

    .banner .img-right {
        width: 200px;
        position: absolute;
        bottom: 0;
        right: 50px;
        z-index: 2;
    }

    .banner .img-left {
        width: 200px;
        position: absolute;
        bottom: 0;
        left: 50px;
        z-index: 0;
    }

    .banner .text {
        width: 500px;
        position: absolute;
        top: 30%;
        left: 200px;
    }

        .banner .text a {
            font-size: 30px;
            text-decoration: none;
            color: #ff2e2e;
            font-weight: bold;
        }
/*khuyenmai*/
.khuyenmai {
    width: 1100px;
    margin: 100px auto;
}

    .khuyenmai .title {
        font-weight: bold;
        font-size: 25px;
    }

    .khuyenmai .posts {
        display: flex;
        /*khi đầy sẽ xuống hàng*/
        flex-wrap: wrap;
    }

        .khuyenmai .posts .posts-item {
            width: 20%;
            height: 330px;
            box-sizing: border-box;
            padding: 10px;
        }

            .khuyenmai .posts .posts-item .content {
                border: 1px solid;
                height: 100%;
                border-radius: 10px;
                overflow: hidden;
                background: white;
            }

                .khuyenmai .posts .posts-item .content .img {
                    height: 200px;
                    width: 100%;
                }

                .khuyenmai .posts .posts-item .content .name {
                    padding: 6px 10px;
                }

                    .khuyenmai .posts .posts-item .content .name a {
                        /*Bỏ gạch chân*/
                        text-decoration: none;
                        font-weight: bold;
                        color: #443737;
                        /*Ẩn khi không đủ chỗ vd: như ảnh thừa ra sẽ bị ẩn đi đề phù hợp với boder*/
                        overflow: hidden;
                        /*Ẩn theo kiểu nào: ellipsis là dấu.*/
                        text-overflow: ellipsis;
                        /*cách hiển thị*/
                        display: -webkit-box;
                        /*số dòng hiển thị*/
                        -webkit-line-clamp: 1;
                        /*hướng của box*/
                        -webkit-box-orient: vertical;
                        font-size: 20px;
                    }

                    .khuyenmai .posts .posts-item .content .name p {
                        color: #a5a5a5;
                        font-size: 15px;
                        overflow: hidden;
                        /*Ẩn theo kiểu nào: ellipsis là dấu.*/
                        text-overflow: ellipsis;
                        /*cách hiển thị*/
                        display: -webkit-box;
                        /*số dòng hiển thị*/
                        -webkit-line-clamp: 2;
                        /*hướng của box*/
                        -webkit-box-orient: vertical;
                    }

                .khuyenmai .posts .posts-item .content .price {
                    padding: 6px 10px;
                }

                    .khuyenmai .posts .posts-item .content .price span {
                        font-size: 20px;
                        color: black;
                    }
/*CSS COlum*/
[class*="col-"] {
    float: left;
    padding: 1px;

    box-sizing : border-box;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
.ThuongHieu {
    width: 1100px;
    height: 500px;
    margin: 0 auto;
}

    .ThuongHieu .title {
        font-weight: bold;
        font-size: 25px;
    }

    .ThuongHieu .posts {
      margin-top : 30px;
        display: flex;
    }

        .ThuongHieu .posts .post-item {
            padding : 10px;
           
        }
        .ThuongHieu .posts .post-item .img img{
            width : 100%;
            height : 200px;
            border-radius: 10px 10px 0px 0px;
        }
            .ThuongHieu .posts .post-item .logo-brand{
                display : flex;
                align-items : center;
                background-color: white;
                padding : 10px;
            }
            .ThuongHieu .posts .post-item .logo-brand img{
                width : 50px;
                border-radius : 50%;
                margin-right: 15px;
            }
                .ThuongHieu .posts .post-item .logo-brand a {
                   color : #464646;
                   text-decoration : none;
                   font-size : 20px;
                   font-weight : bold;
                }
            .ThuongHieu .posts .post-item .desc {
                background-color: white;
                padding: 0 10px 20px 10px;
                border-radius: 0px 0px 10px 10px;
                overflow : hidden;
            }
                .ThuongHieu .posts .post-item .desc p{
                
                overflow: hidden;
                /*Ẩn theo kiểu nào: ellipsis là dấu.*/
                text-overflow: ellipsis;
                /*cách hiển thị*/
                display: -webkit-box;
                /*số dòng hiển thị*/
                -webkit-line-clamp: 2;
                /*hướng của box*/
                -webkit-box-orient: vertical;
                height : 35px;
                
            }
